[submodule "Scherule-scheduling"]
	path = Scherule-scheduling
	url = git@github.com:Scherule/Scherule-scheduling.git
	branch = master
[submodule "Scherule-notifying"]
	path = Scherule-notifying
	url = git@github.com:Scherule/Scherule-notifying.git
	branch = master
[submodule "Scherule-calendaring"]
	path = Scherule-calendaring
	url = git@github.com:Scherule/Scherule-calendaring.git
	branch = master
[submodule "Scherule-commons"]
	path = Scherule-commons
	url = git@github.com:Scherule/Scherule-commons.git
	branch = master
[submodule "Scherule-buildtools"]
	path = Scherule-buildtools
	url = git@github.com:Scherule/Scherule-buildtools.git
	branch = master
[submodule "Scherule-discovery"]
	path = Scherule-discovery
	url = git@github.com:Scherule/Scherule-discovery.git
	branch = master
[submodule "Scherule-gateway"]
	path = Scherule-gateway
	url = git@github.com:Scherule/Scherule-gateway.git
	branch = master
[submodule "Scherule-users"]
	path = Scherule-users
	url = git@github.com:Scherule/Scherule-users.git
	branch = master
[submodule "Scherule-client-web"]
	path = Scherule-client-web
	url = git@github.com:Scherule/Scherule-client-web.git
	branch = master